<div class="container mx-auto p-6 m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a class="flex justify-between" href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{this.title}}</h5>
        <p class="mb-2 tracking-tight text-gray-900 dark:text-white">Created by {{this.user.name}} on {{format_date  this.date_created}}</p>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{this.blog_content}}</p>
    
    <div class="container mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="">
            <p class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Comment section</p>
           
        </div>
        {{#each this.comments}}
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{this.comment}}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{this.name}}-{{format_date  this.date_created}}</p>
        {{/each}}
    </div>
</div>
   <div class="container mx-auto p-6 m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <form class=" comment-post max-w-md mx-auto">

  <div class="mb-5">
    <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comment</label>
    <input type="text" id="comment" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
  </div>
  
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Comment</button>
</form>

    <script src="../../../js/commentPost.js"></script>

